@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18166e;
  border-bottom: 2px solid #fff;
}

.logo a {
  width: 450px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #18166e;
  position: relative;
  padding: 5px 5px;
}

.logo a img {
  margin: 0px;
  width: 405px;
  height: 60px;
}

.logo-info {
  position: fixed;
  right: 30px;
}

#hora {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 18px;
}

.site-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  flex: 1;
  overflow: hidden;
}

#video-container {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  margin-right: 2px;
}

#senha-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.senha-container .senha-atual {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  color: #fff;
  background-color: #3b77b3;
  justify-content: center;
}

.senha-container .senha-atual h1 {
  margin-bottom: 15px;
}

.senha-container .ultimas-senhas {
  text-align: center;
  padding-top: 1rem;
  height: 80%;
  color: #fff;
  background-color: #3b77b3;
}

.senha-container .ultimas-senhas h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

#senha-atual {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.5s ease;
}

#tipo-setor {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 500;
}

.senha-item {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.text-bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  background-color: #18166e;
  border-top: 2px solid #fff;
}

.text-bottom h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 2.5rem;
  will-change: transform;
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}
#titulosenha {
  font-size: 30px;
}
/* BOTÃO FULLSCREEN */
.fullscreen-btn {
  padding: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.logo .fullscreen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 25px;
}

.fullscreen-btn:hover {
  transform: scale(1.05);
}

.fullscreen-active .fullscreen-btn {
  display: none;
}

/* rodape animaado */
.marquee {
  display: flex;
  align-items: center;
  background-color: #18166e;
}

.track {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 2px;
  will-change: transform;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

#transicaoSenha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 64, 175, 0.9); /* fundo azul translúcido */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  padding: 20px;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: 700;
}

/* Ativa a transição */
#transicaoSenha.mostrar {
  opacity: 1;
}
